.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    color: rgb(75, 75, 75);
}

.pageContainer h1 {
    margin-bottom: 0;
}

.pageContainer h2 {
    margin-top: 6px;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.formField, .unitsField {
    padding: 10px;
    border: none;
    font-size: 24px;
    width: 30vw;
    font-family: var(--site-font);
}

.unitsField {
    width: 60px;
    text-align: center;
}

.button {
    padding: 15px;
    background-color: grey;
    border: none;
    outline: 2px solid whitesmoke;
    font-size: 24px;
    color: white;
    transition: all 0.3s;
    font-family: var(--site-font);
    margin-top: 15px;
}

.button:focus {
    background-color: goldenrod;
    color: black;
}