.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    margin-top: 20px;
}

.contactPanel {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    width: 90vw;
    justify-content: space-around;
}