@font-face {
    font-family: "Cormorant Garamond", serif;
    src: url('./assets/fonts/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond", serif;
    src: url('./assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Odibee Sans';
    src: url('./assets/fonts/OdibeeSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Red Hat';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}


:root {
    --site-font: 'Red Hat';
    --site-bg: #060606;
    --site-text: whitesmoke;
}

body, #root {
    font-family: var(--site-font), serif;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--site-bg);
    color: var(--site-text)
}

.iconDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
